<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <AuditConfig QueueName="audit" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!--To register a specific type in an assembly -->
      <add Assembly="Retail.Orders.Messages" Type="Retail.Orders.Messages.Events.OrderPlaced" Endpoint="Retail.Orders.Handler" />
      <add Assembly="Retail.Orders.Messages" Type="Retail.Orders.Messages.Commands.PlaceOrder" Endpoint="Retail.Orders.Handler" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>